body {
	background-color: #848784;
}
header {
	background-color: #FFED74;
	font-style: 'Yantramanav', serif;
	font-size: 8em;
	color: #fff;
	padding: 3px;
}
p {
	color: #000;
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
#slogan	{
	background-color: #E82C0C;
	border-style: solid;
	border-width: 4px;
	border-color: #110707;
	font-style: italic;
	font-size: 35px;
	padding: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#Chad {
	display: block;
	margin: auto;
	width: 350px;
	background-color: #000;
}

img {
	height: 300px;
	width: 300px;
}

h1 {
	font-family: 'Jura', serif;
	font-size: 150px;
}
nav {
	background-color: #E8C66A;
	font-size: 25px;
	text-align: center;
	padding-right: 3px;
	padding-left: 1px;
}
hr {
	background-color: #fff;
	margin-bottom: 25px;
	padding: 2px;
}

#two_column {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
}

#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	float: right;
}