body {
	background-color: #848784;
}
header {
	background-color: #000000;
	font-style: 'Yantramanav', serif;
	font-size: 8em;
	color: #fff;
	padding: 3px;
}
p {
	color: #000;
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
#slogan	{
	background-color: #e82c0c;
	border-style: solid;
	border-width: 4px;
	border-color: #110707;
	font-style: italic;
	font-size: 35px;
	padding: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#Chad {
	display: block;
	margin: auto;
	width: 78%x;
	background-color: #000;
}

img {
	display: block;
	height: 80%px;
	width: 80%;
	margin: 0 auto;
}

h1 {
	font-family: 'Jura', serif;
	font-size: 150px;
}
nav {
	background-color: #000000;
	font-size: 25px;
	text-decoration-color: #ffffff;
	text-align: center;
	padding-right: 3px;
	padding-left: 1px;
}

nav a {
	color: #ffffff;
}
hr {
	background-color: #fff;
	margin-bottom: 25px;
	padding: 2px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#two_column {
	background-color: ##848784;
	border: 1px black solid;
	padding: 30px;
}

#left {
	background-color: #bdbfc1;
	border: 1px black solid;
	padding: 30px;
	float: left;
	width: 40%;
}

#right {
	background-color: #bdbfc1;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 40%;
}

footer {
	float: right;
}

@media screen only and (min-width: 730px) {
	nav {
	background-color: #000000;
	font-size: 25px;
	text-decoration-color: #ffffff;
	text-align: center;
	padding-right: 3px;
	padding-left: 1px;
	float: none;
	}
}