body {
	background-color: #848784;
}
header {
	background-color: #110707;
	font-style: 'Yantramanav', serif;
	font-size: 15em;
	color: #fff;
	padding: 3px;
}
p {
	color: #000;
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
#slogan	{
	background-color: #E82C0C;
	font-style: italic;
	font-size: 30px;
	padding: 20px;
}
img {
	width: 200px;
}
h1 {
	font-family: 'Jura', serif;
	font-size: 150px;
}