body {
	background-color: #848784;
}
header {
	background-color: #110707;
	font-style: 'Yantramanav', serif;
	font-size: 10em;
	color: #fff;
	padding: .5px;
}
p {
	color: #000;
	font-family: 'Cinzel', serif;
	font-size: 20px;
}
#slogan	{
	background-color: #E82C0C;
	font-style: italic;
	font-size: 30px;
	padding: 10px;
}
img {
	width: 200px;
}
h1 {
	font-family: 'Jura', serif;
	font-size: 150px;
}
nav {
	font-size: 7px;
	text-align: center;
	padding-right: 3px;
	padding-left: 1px;
}