<style>
@import url(http://fonts.googleapis.com/css?family=Cinzel|Julius+Sans+One|Jura|Yantramanav);
</style>
body {
	background-color: #848784;
}
h1, p {
	color: #000;
	font-family: 'Jura', serif;
	font-size: 20px;
}
#slogan	{
	background-color: #E82C0C;
	font-style: italic;
	font-size: 30px;
	padding: 20px;
}
img {
	width: 200px;
}
head {
	background-color: #ffffff;
	font-size: 200px;
	padding: 20px;
}
#body {
	font-family: 'Jura', serif;
	font-size: 20px;
}