body {
	background-color: #848784;
}
h1, p {
	color: #000;
	font: verdana;
	font-size: 20px;
}
#slogan	{
	background-color: #E82C0C;
	font-style: italic;
	font-size: 30px;
	padding: 20px;
}

img {
	width: 200px;
}

title {
	font-size: 200px;
	background-color: #ffffff;
	padding: 20px;
}